* {
  margin: 0px;
  padding: 0px;
}

body, html {
  overflow-x: hidden !important;
}

.tempSlider {
  width: 192px !important;
  height: 104px;
  cursor: pointer;
  border-radius: 7px;
}

.centerModeSlider {
  border-radius: 30px;
  cursor: pointer;
}

.d-btn {
  font-size: 13px;
  font-weight: 600;
  border-radius: 25px;
  padding: 4px 32px;
  color: #fff;
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    linear-gradient(101deg, #CD3AFF, #1ECCD6);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #3F254A inset, 0 5px 10px rgba(0, 0, 0, 0.5);
  transition: all .2s;
}

.d-btn-play {
  font-size: 13px;
  font-weight: 600;
  border-radius: 25px;
  padding: 4px 32px;
  color: #fff;
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    linear-gradient(101deg, #CD3AFF, #1ECCD6);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #674aaa inset;
  transition: all .2s;
  width: 151px;
  height: 35px;
}

.d-btn:hover {
  box-shadow: none !important;
  color: #3F254A !important;
}

.outerDiv {
  background-repeat: no-repeat;
  background-image: url("./Assets/Images/App.test.js.png") !important;
  height: 796px;
  background-size: cover !important;
}

.navMargin {
  margin-top: -9px !important;
}

.main-bg {
  background-image: url("./Assets/Images/MainBG.png") !important;
}

.navLiColor {
  color: gainsboro !important;
  font-size: 15px !important;
}

.playDownBtn {
  margin-top: 22px;
  margin-left: 33px;
}

.gwLogoDim {
  height: 93px;
  width: 113px;
}

.popGameDim {
  margin-top: 95px;
  margin-left: -60px;
}

.secTextColor {
  color: lightgrey !important;
}

.priTextColor {
  color: white;
  font-size: 17px !important;

}

.paraDim {
  margin-top: 199px;
  margin-left: -60px;
  font-size: 14px;
}

.mainText {
  position: relative;
  font-weight: 800;
  font-size: 237.76px;
  font-style: normal;
  font-weight: 800;
  font-size: 201.764px;
  line-height: 290px;
  margin-left: 39px;
  margin-top: -411px;
}

.mainText::after {
  content: attr(data-text);
  -webkit-text-stroke: 1px #fff;
  position: absolute;
  left: 0;
  top: 0;
  color: transparent;
  z-index: 5;

}

.inlineHead h1 {
  display: inline !important;

}

.cardTransMainHead {
  font-family: 'Nunito', sans-serif;
  -moz-text-fill-color: white;
  -webkit-text-fill-color: #084298;
  -moz-text-stroke-color: black;
  -webkit-text-stroke-color: #636464;
  -moz-text-stroke-width: 2px;
  -webkit-text-stroke-width: 1px;
  font-size: 116px;
  opacity: 3.4;
  filter: alpha(opacity=40);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-style: normal;
  font-weight: 800;
  font-size: 113.15px;
}

.mainCharacter {
  width: 784px;
  height: 990px;
  width: 569px;
  height: 733px;
  left: 900px;
  top: 53px;
  position: absolute;
  z-index: 2;
}

button.button {
  border-radius: 100rem;
  padding: 1rem;
  font-size: 1rem;
  padding: .5rem 3rem;
  color: white !important;
  background-origin: border-box;
  background-clip: content-box, border-box;
  border: linear-gradient(#CD3AFF 100%, #1ECCD6 100%, #FFFFFF 15%) !important;
  line-height: 19px;
  font-size: 14px;
  font-weight: 700;
  background:
    linear-gradient(60deg, #CD3AFF, #1ECCD6) border-box;
  background-blend-mode: overlay;
  backdrop-filter: blur(20px);
}

.searchIcon {
  color: white !important;
}

button.downloadBtn {
  border-radius: 100rem;
  padding: 1rem;
  font-size: 1rem;
  padding: .5rem 3rem;
  color: white;
  border: solid 3px transparent !important;
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #966fd6 inset !important;
  line-height: 19px;
  font-size: 14px;
  font-weight: 600;
  padding-top: 11px;
  padding-bottom: 10px;
}



.header__button-icon {
  width: 24px;
  height: auto;
}

.mainCharacterBlur {
  width: 412px;
  height: 383px;
  left: 600px;
  top: 405px;
  position: absolute;
  z-index: 2;
}

.dummyText {
  margin-bottom: 12px !important;
}

.sliderDiv {
  margin-top: 157px;
  margin-left: 0px;
  position: absolute;
  color: white;
  border-radius: 8px;
  padding-top: 12px;
  width: 556px;
  height: 176px;
  background: rgba(255, 244, 243, 0.01);
  /* mix-blend-mode: screen; */
  /* opacity: 0.32; */
  -webkit-backdrop-filter: blur(40.1325px);
  backdrop-filter: blur(40.1325px);
}

.headSeeAll {
  margin-left: 383px;
  font-size: 11px;
  /* float: right; */
}

.headLive {
  font-size: 12px;
  font-weight: 500;
  margin-left: 40px;
  /* float: left; */
}

.sliderImg1 {
  box-sizing: border-box;
  position: absolute;
  width: 173.52px !important;
  height: 107.55px !important;
  left: -14.27px;
  top: 54.93px;
  border-radius: 9px;
}

.pinkImgSlider {
  width: 173.52px !important;
  height: 107.55px !important;
}

.sliderImg2 {
  box-sizing: border-box;
  position: absolute;
  width: 223.52px;
  height: 107.55px;
  left: 185.73px;
  top: 55.93px;
  border-radius: 9px;
}

.sliderImg3 {
  box-sizing: border-box;
  position: absolute;
  width: 117.52px;
  height: 101.55px;
  left: 468.73px;
  top: 69.93px;
  border-radius: 9px;
}

.sliderIcon {
  width: 85px;
  height: 63px;
  margin-top: 38px;
  margin-left: 117px;
}

.slick-prev, .slick-next {
  display: none !important;
}

.live-stream-slider .slick-slide {
  margin: 0 10px;
}

.tornamentBanner {
  position: relative;
  color: white;
}

.cardMainHead {
  opacity: 2px;
  /* position: absolute; */
  width: 964px;
  width: 100%;
  height: 255px;
  /* left: 69.06px; */
  /* top: 1861.31px; */
  /* font-family: 'Montserrat'; */
  font-style: normal;
  font-weight: 800;
  font-size: 128.15px;
  /* line-height: 255px; */
  text-transform: uppercase;
  background: linear-gradient(180deg, #FFFFFF -168.46%, rgba(255, 255, 255, 0) 70.93%);
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  background-clip: text;
  -webkit-text-fill-color: #adb5bd;

  /* text-fill-color: transparent; */
}

.social-svg-icon {
  fill: white !important;
}


.gamesCompSec {
  position: absolute;
  bottom: 361px;
  left: 44%;
}

.footerInput {
  border-radius: 20px;
}

.horLine {
  border-width: 2px;
}

.inputEmail {
  background: #4a4a51;
  border: none;
  color: white;
  font-size: 12px;
  width: 200px;
  height: 41px;
}

::placeholder {
  color: white;
}

.cardBrdRadius {
  border-radius: 18px !important;
}

/* center slider */
.centerSlider .slick-track {
  display: flex;
  align-items: center;
}

.centerSlider .slick-track .slick-current {
  width: 500px !important;
  /* transition: .2s !important; */
}

.cardBtnShGame {
  border-radius: 20px;
  border: 0px;
  background: #4C4C4C;
  border-radius: 14px;
  /* background: #4a4a51; */
  color: white;
  font-size: 9px;
  width: 86px !important;
  cursor: default !important;
}

.cardBtnAction {
  border-radius: 20px;
  border: 0px;
  background: #4C4C4C;
  border-radius: 14px;
  /* background: #4a4a51; */
  color: white;
  font-size: 9px;
  width: 48px !important;
  cursor: default !important;
}

.cardBtnLvlUp {
  border-radius: 20px;
  border: 0px;
  background: #4C4C4C;
  border-radius: 14px;
  /* background: #4a4a51; */
  color: white;
  font-size: 9px;
  width: 53px;
  cursor: default !important;
}

.cTitleFontSize {
  font-size: 15px !important;
}

.allCardBg {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%) !important;
  backdrop-filter: blur(22px);
  color: white;
  border-radius: 14px 14px 20px 20px;
}

.withoutBannerBg {
  background-image: url('./Assets/Images/tempImg1.png')
}

.cardBtnMrktPlace {
  font-size: 10px;
  padding-left: 20px;
  padding-right: 24px;
  padding-top: 5px;
  font-weight: 600;
  border-radius: 25px;
  color: #fff;
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    linear-gradient(101deg, #CD3AFF, #1ECCD6);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #3F254A inset, 0 5px 10px rgba(0, 0, 0, 0.5);
  transition: all .2s;
  width: 96px;
  height: 29px;
  margin-left: 67px;
  margin-top: 2px;
}

.cardGamBtnMrktPlace {
  font-size: 10px;
  padding-left: 13px;
  padding-right: 14px;
  padding-top: 5px;
  font-weight: 600;
  border-radius: 25px;
  /* padding: 4px 32px; */
  color: #fff;
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    linear-gradient(101deg, #CD3AFF, #1ECCD6);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #3F254A inset, 0 5px 10px rgba(0, 0, 0, 0.5);
  transition: all .2s;
  width: 96px;
  height: 29px;
  /* margin-left: 18px; */
  margin-top: 2px;
}

.cardTitle {
  font-size: 15px !important;
}

.cardSecText {
  font-size: 10px;
}

.slick-slideBanner slick-slide {
  outline: none;
  width: 207px !important;
}


/* ------------------------------------ Media Query for max-width: 576px  ------------------------------------ */

@media only screen and (max-width: 576px) {

  .centerSlider .slick-initialized .slick-slide {
    /* display: block; */
    width: 187px !important;
  }

  .centerSlider .slick-track .slick-current {
    width: 300px !important;
    /* transition: .2s !important; */
  }

  .centerSlider .slick-initialized .slick-slide {

    width: 164px !important;
  }

  .navMobile {
    margin-top: 11px !important;
  }

  .gcFontMob {
    font-size: 16px;
  }

  .gcTextFontMob {
    font-size: 11px;
  }

  .banSliderImg {
    width: 100%;
    display: inline-block;
    height: auto;
    width: 150px !important;
  }

  .gamesCompSec {
    /* position: absolute;
    bottom: 20px;
    left: 30%; */
    /* font-size: 25px; */
    position: absolute;
    bottom: 30px !important;
    left: 32%;
    /* font-size: 19px; */
    /* font-size: 25px; */
  }

  .btnWidthMob {
    width: 66px !important;
  }


  .btnMobile {
    width: 101px;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .iconMobile {
    width: 15px;
    height: 23px;
    display: flex;
    stroke-width: 1px;
  }

  .btnSearchMobile {
    margin-left: 120px;
    margin-left: auto;
  }

  .popGameDimMobile {
    margin-top: 23px;
    margin-left: 0px !important;
  }

  .mainTextMobile {
    font-size: 64px;
    font-weight: 800;
    line-height: 69px;
    letter-spacing: 0em;
    text-align: center;
  }

  .paraDimMobile {
    font-size: 11px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
  }

  .playDownBtn {
    margin-left: 0px !important;
    text-align: center;
  }

  button.downloadBtn {
    padding: 0.5rem 1.5rem;
  }

  .d-btn-play {
    font-size: 13px;
    font-weight: 600;
    border-radius: 25px;
    padding: 4px 32px;
    color: #fff;
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
      linear-gradient(101deg, #CD3AFF, #1ECCD6);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #674aaa inset;
    transition: all .2s;
    width: 139px;
    height: 35px;
    margin-left: 32px !important;
  }

  .popGamesMobile {
    font-size: 11px;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
  }

  .mainCharacterMobile {
    position: absolute;
    width: 320px;
    left: 188px;
    top: 319px;
  }

  .pinkRect {
    position: absolute;
    width: 95%;
    height: 207px;
    left: 18px;
    top: 385px;
  }

  .blueRect {
    position: absolute;
    left: 120px;
    top: 456px;
  }

  .greyRect {
    position: absolute;
    left: 87px;
    top: 540px;
  }

  .sliderImg1Mobile {
    /* position: absolute;
    width: 125.75px;
    height: 105.5px;
    left: -8.3px;
    top: 57.75px;
    position: absolute;
    width: 155.75px;
    height: 85.5px;
    left: -52.3px;
    top: 69px;
    top: 67.75px; */
    position: absolute;
    width: 125.75px;
    height: 105.5px;
    left: -8.3px;
    top: 57.75px;
    position: absolute;
    width: 155.75px;
    height: 85.5px;
    left: -52.3px;
    top: 69px;
    top: 67.75px;
  }

  .sliderImg2Mobile {
    width: 155.75px;
    height: 83.5px;
    left: 117.63px;
    top: 67.75px;
  }

  .sliderImg3Mobile {
    position: absolute;
    width: 103.09px;
    height: 76.19px;
    left: 219.23px;
    top: 35.05px;
  }

  .headLiveMobile {
    margin-left: 21px;
    font-size: 11px;
  }

  .headSeeAllMobile {
    margin-left: 257px;
    font-size: 11px;
  }

  .dummyTextMobile {
    margin-top: -20px;
  }

  .playDownBtnMobile {
    margin-top: -11px;
  }

  .sliderDivMobile {
    border-radius: 0px;
    /* margin-top: 265px; */
    /* margin-top: 1046px; */
    position: absolute;
    bottom: 7px;
    margin: 0px;
    background: rgb(255 244 243 / 20%);
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    /* mix-blend-mode: screen; */
    /* opacity: 0.5; */
    width: 382px;
    height: 171px;
  }

  .outerDivMobile {
    background-image: url("./Assets/Images/backgroundMobile.png") !important;
    position: relative;

  }

  button.downloadBtnMobile {
    box-shadow: 2px 1000px 1px #636464 inset !important;
    height: 31px;
    font-size: 9.8px;
    padding: 0px !important;
    width: 136px;
    margin: 0px;
  }

  .d-btn-playMobile {
    box-shadow: 2px 1000px 1px #212529 inset;
    height: 28px;
    font-size: 9.8px;
    width: 122px;
    /* height: 12px; */
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .sliderRtPadding {
    padding-right: 0px !important;
  }
}


/* ------------------------------------ Media Query for max-width: 767px  ------------------------------------ */

@media only screen and (max-width: 768px) {
  .navMobile {
    margin-top: 11px !important;
  }

  .gamesCompSec {
    /* position: absolute;
    bottom: 81px;
    left: 39%; */
    /* font-size: 25px; */
    position: absolute;
    bottom: 8px;
    left: 35%;
    /* font-size: 19px; */
    /* font-size: 25px; */
  }

  .btnMobile {
    width: 101px;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 20px; */
    margin-right: 40px;
  }

  .iconMobile {
    width: 15px;
    height: 23px;
    display: flex;
    stroke-width: 1px;
  }

  .btnSearchMobile {
    margin-left: 120px;
    margin-left: auto;
  }

  .popGameDimMobile {
    margin-top: 23px;
    margin-left: 0px !important;
  }

  .mainTextMobile {
    font-size: 64px;
    font-weight: 800;
    line-height: 69px;
    letter-spacing: 0em;
    text-align: center;
  }

  .paraDimMobile {
    font-size: 11px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
  }

  .playDownBtn {
    margin-left: 0px !important;
    text-align: center;
  }

  button.downloadBtn {
    padding: 0.5rem 1.5rem;
  }

  .d-btn-play {
    font-size: 13px;
    font-weight: 600;
    border-radius: 25px;
    padding: 4px 32px;
    color: #fff;
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
      linear-gradient(101deg, #CD3AFF, #1ECCD6);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #674aaa inset;
    transition: all .2s;
    width: 139px;
    height: 35px;
    margin-left: 32px !important;
  }

  .popGamesMobile {
    font-size: 11px;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
  }

  .mainCharacterMobile {
    position: absolute;
    width: 320px;
    left: 188px;
    top: 319px;
  }

  .pinkRect {
    position: absolute;
    width: 95%;
    height: 207px;
    left: 18px;
    top: 385px;
  }

  .blueRect {
    position: absolute;
    left: 120px;
    top: 456px;
  }

  .greyRect {
    position: absolute;
    left: 87px;
    top: 540px;
  }

  .sliderImg1Mobile {
    /* position: absolute;
    width: 125.75px;
    height: 105.5px;
    left: -8.3px;
    top: 57.75px;
    position: absolute;
    width: 155.75px;
    height: 85.5px;
    left: -52.3px;
    top: 69px;
    top: 67.75px; */
    position: absolute;
    width: 125.75px;
    height: 105.5px;
    left: -8.3px;
    top: 57.75px;
    position: absolute;
    width: 155.75px;
    height: 85.5px;
    left: -52.3px;
    top: 69px;
    top: 67.75px;
  }

  .sliderImg2Mobile {
    width: 155.75px;
    height: 83.5px;
    left: 117.63px;
    top: 67.75px;
  }

  .sliderImg3Mobile {
    position: absolute;
    width: 103.09px;
    height: 76.19px;
    left: 219.23px;
    top: 35.05px;
  }

  .headLiveMobile {
    margin-left: 21px;
    font-size: 11px;
  }

  .headSeeAllMobile {
    margin-left: 257px;
    font-size: 11px;
  }

  .dummyTextMobile {
    margin-top: -20px;
  }

  .playDownBtnMobile {
    margin-top: -11px;
  }

  .sliderDivMobile {
    border-radius: 0px;
    /* margin-top: 265px; */
    /* margin-top: 1046px; */
    position: absolute;
    bottom: 7px;
    margin: 0px;
    background: rgb(255 244 243 / 20%);
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    /* mix-blend-mode: screen; */
    /* opacity: 0.5; */
    width: 420px;
    height: 171px;
  }

  .outerDivMobile {
    background-image: url("./Assets/Images/backgroundMobile.png") !important;
    position: relative;

  }

  button.downloadBtnMobile {
    box-shadow: 2px 1000px 1px #636464 inset !important;
    height: 31px;
    font-size: 9.8px;
    padding: 0px !important;
    width: 136px;
    margin: 0px;
  }

  .d-btn-playMobile {
    box-shadow: 2px 1000px 1px #212529 inset;
    height: 28px;
    font-size: 9.8px;
    width: 122px;
    /* height: 12px; */
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
}



/* ------------------------------------ Media Query for max-width: 992px  ------------------------------------ */

@media only screen and (min-width: 767px) {
  .popGameDim992 {
    margin-top: 95px;
    margin-left: 62px;
  }

  .gamesCompSec {
    position: absolute;
    bottom: 135px;
    left: 39%;
  }

  .mainCharacterTab {
    width: 784px;
    height: 990px;
    width: 372px;
    height: 533px;
    left: 399px;
    top: 144px;
    position: absolute;
    z-index: 2;
  }
}


@media only screen and (min-width: 992px) {
  .popGameDim992 {
    margin-left: 0px;
  }

  .mainCharacter {
    width: 784px;
    height: 990px;
    width: 569px;
    height: 733px;
    left: 900px;
    top: 58px;
    position: absolute;
    z-index: 2;
  }

  .gamesCompSec {
    position: absolute;
    bottom: 336px;
    left: 40%;
  }

  .gcFontWeb {
    font-size: 50px;

  }

  .gcTextFontWeb {
    font-size: 17px;
  }


}

/*  --------------------------------------------------- Video live Stream ---------------------------------------------------  */

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio */
}

.video-container iframe {
  position: absolute;
  top: 61px;
  left: 13px;
  width: 153%;
  height: 66%;
  object-fit: fill;
}

/* Media queries for smaller screens */
@media screen and (max-width: 767px) {
  .video-container {
    padding-bottom: 75%;
    /* 4:3 aspect ratio */
  }
}

/* Media queries for larger screens */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .video-container {
    padding-bottom: 60%;
    /* 3:2 aspect ratio */
  }
}

/* Media queries for even larger screens */
@media screen and (min-width: 1024px) {
  .video-container {
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
    width: 560px !important;
    height: 315px !important;
  }
}

/* Chat box */

#chat {
  /* position: fixed; */
  /* position: fixed; */
  bottom: 109px;
  right: 170px;
  width: 304px;
  height: 492px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  overflow: hidden;
  /* position: relative; */
  position: absolute;
  /* margin-top: 56px; */
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);


}

#messages {
  height: 350px;
  padding: 10px;
  /* overflow-y: scroll; */
}

#message-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 10px;
  /* border-top: 1px solid #ccc; */
}

#message-input {
  /* flex: 1 1; */
  height: 35px;
  /* padding: 5px; */
  /* margin-right: 10px; */
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 700px;
}

#send-button {
  height: 30px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #0084ff;
  color: #fff;
  cursor: pointer;
}

.chatUserImg {
  width: 30px;
  height: 30px;
}

.user-details {
  font-size: 10px;
}

.chatBoxHead {
  font-size: 16px;
}

.chaBoxList {
  margin-left: -23px;

}

.user-image {
  margin-left: 0px !important;
  margin-right: 20px;
}

.chatInputBox {
  background-color: grey;
  border-radius: 20px !important;
  height: 34px;
  /* padding: 10px; */
  padding-left: 17px;
  padding-top: 20px;
  padding-bottom: 23px;
  font-size: 10px;
  margin-left: 9px;
  margin-right: -106px;
  /* height: 20%; */
}

.chatNumber {
  margin-left: 71px;
}

.outerDivVideoStream {
  height: 1170px;

}

.recStreams {
  bottom: -451px !important;
  margin-left: 20px;
  margin-right: 20px;
  left: 999px;

}


.cardStreamTitle {
  font-size: 11px !important;

}

.cardThumbnail {
  width: 145px;

}

.mainBox {
  padding-left: 20px;
  background: #0e0e0e;
  border-radius: 20px;
  background-image: linear-gradient(to bottom, #469ebc, #cd3aff);
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.mainBoxText {
  font-size: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.otpBoxMargin {
  margin-bottom: 101px;

}

.gameCardImg {
  border-radius: 12px !important;
  height: 222px;

}

.gamingCard {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%) !important;
  backdrop-filter: blur(22px) !important;
  border-radius: 14px 14px 20px 20px !important;
}

.cardBtnSpace {
  justify-content: space-between;

}



.slick-track {
  width: 12344.35px !important;
}

.gameTabBtn {
  color: #C4C4C4 !important;
  font-size: 15px !important;
}

.nav-item button.nav-link.active {
  background: transparent;
  border: none;
  color: #FFFFFF !important;
  font-style: normal;
  font-weight: 600;
  font-size: 20 px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.374px;
}

.nav-item button.nav-link {
  color: grey !important;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.374px;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border: unset;
}

.instantGamesImgHeight {
  height: 188px;
  border-radius: 20px !important;
}


.liveStrSecHead {
  font-style: normal;
  font-weight: 800;
  font-size: 164px;
}

.outerDivLiveStrm {
  background-repeat: no-repeat;
  background-image: url("./Assets/Images/App.test.js.png") !important;
  height: 100%
}

.cardLiveStrm {
  width: 270px;
  border-radius: 15px !important;

}

.cardImgLiveStrm {
  border-radius: 15px !important;
  height: 189px;
}

.LiveStrmBodyFont {
  font-size: 11px;

}

.LiveStrmTitFont {
  font-size: 14px !important;

}


@media only screen and (max-width: 576px) {
  .mobileCenterLiveStrm {
    text-align: -webkit-center;

  }

  .cardBodyMob {
    margin-top: 13px !important;

  }

  .gamingCard {
    flex-direction: row !important;
  }

  .titBtnSpace {
    font-size: 30px !important;
  }

  .cardBtnShGame {
    border-radius: 20px;
    border: 0px;
    background: #4C4C4C;
    border-radius: 14px;
    /* background: #4a4a51; */
    color: white;
    font-size: 9px;
    width: 87px !important;
    cursor: default !important;
  }

  .cardBtnAction {
    border-radius: 20px;
    border: 0px;
    background: #4C4C4C;
    border-radius: 14px;
    /* background: #4a4a51; */
    color: white;
    font-size: 8px;
    width: 38px !important;
    cursor: default !important;
  }

  .mainBox {
    max-width: 90%;
  }

}



.StreamersCardImg {
  width: 150px !important;
  height: 130px !important;
  /* margin-left: 40px;
  margin-right: 20px; */
}

.insHeading {
  font-size: 145px;
}

.gameHeading {
  font-size: 145px;
}

.downGameHead {
  font-size: 123px;
}

.marketPlaceHead {
  font-size: 156px;
}

.titBtnSpace {
  display: flex;
  justify-content: space-between;
}

.nav-item.active .nav-link {
  color: white !important;
  font-weight: bold;
}